body {
	margin: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

// Route //
.route-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #EE6E62;
	height: 3rem;
	padding: 0 1rem;
	a {
		text-decoration: none;
		color: aliceblue;
		cursor: pointer;
	}
}

// Main //
.main-wrapper {
	a {
		margin: 0 1rem;
		text-decoration: none;
		color: aliceblue;
		cursor: pointer;
	}
}

// Sign up //
.signup-wrapper {
	max-width: 600px;
	width: 100%;
	margin: 3rem auto;
	form {
		display: grid;
    grid-gap: 20px;
		input {
			border: 1px solid #888;
			border-radius: 0.15rem;
			height: 2rem;
			padding: 0.25rem;
			outline: none;
			font-size: 1rem;
		}
		input[type="text"], input[type="email"], input[type="password"] {
			&:active, &:focus {
				border: 1px solid #EE6E62;
			}
		}
		.signup-btn-wrapper {
			text-align: center;
			input[type="submit"] {
				height: 2.5rem;
				width: 4.5rem;
				cursor: pointer;
				background: #EE6E62;
				color: aliceblue;
				border: 1px solid #EE6E62;
				&:hover {
					background: #fff;
					border: 1px solid #888;
					color: #EE6E62;
				}
			}
		}
		.signup-info {
			text-align: center;
			color: #888;
			a {
				font-size: 1.3rem;
				color: #888;
			}
		}
		.message {
			text-align: center;
			color: #EE6E62;
			font-size: 1.4rem;
		}
	}
}

// image-wrapper
.image-wrapper {
	max-width: 600px;
	width: 100%;
	margin: 3rem auto;
	img {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		width: 100%;
		height: 100%;
		margin: 1rem 0;
	}
}

// Image action 
.image-action-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	div {
		color: #EE6E62;
		cursor: pointer;
	}
}

// upload 
.upload {
	a {
		margin: 0 0.75rem;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	p {
		cursor: pointer;
	}
}

// users
.users-wrapper {
	max-width: 300px;
	width: 100%;
	margin: 3rem auto;
	.user-card {
		margin: 1rem 0;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		padding: 1rem;
	}
}